@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px; /* Размер шрифта по умолчанию */
    line-height: 1.25; /* Высота строки по умолчанию */
    font-family: 'Inter', Arial, sans-serif; /* Шрифт по умолчанию */
  }
}



.page-transition {
  opacity: 1;
  transform: translateY(0); /* Начальное положение */
  transition: opacity 500ms ease, transform 500ms ease;
}

.page-transition-fadeout {
  opacity: 0;
  transform: translateY(10px); /* Сдвиг вниз при fade-out */
}

.page-transition-fadein {
  opacity: 0;
  transform: translateY(10px); /* Без сдвига при fade-in */
}


.some_rich_text p {margin-bottom: 8px}

strong {
  font-weight: 500!important; /* Medium */
}








/* Светлая тема */
html.light {
  @apply bg-light-background text-light-text;
}
/* Тёмная тема (через класс dark) */
html.dark {
  @apply bg-dark-background text-dark-text;
}

/* Глобальный класс для header и footer */
.footer_bg {
  @apply bg-footerLight/* Для светлой темы */
}
.dark .footer_bg {
  @apply bg-footerDark/* Для тёмной темы */
}


